# Core functionality - changes here should be rare!
/src/app.py                   @derekcarvajal
/src/backend/database.py      @derekcarvajal
/src/backend/routers/auth.py  @derekcarvajal

# The frontend will need refactored soon to be more object oriented.
/src/static/   @derekcarvajal
